# Miscellaneous

- @alecananian
- @WyattMufson

# Apps

apps/api/ @alecananian

# Packages

packages/core/ @alecananian
packages/react/ @alecananian
packages/tailwind-config/ @alecananian

# Examples

examples/connect-core/ @alecananian
examples/connect-react/ @alecananian
examples/connect-electron/ @WyattMufson
examples/magicswap/ @cdotta
