@font-face {
  font-family: "Millik";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url("./fonts/Millik.woff2") format("woff2"),
    url("./fonts/Millik.woff") format("woff");
}

@font-face {
  font-family: "GroteskSemi";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url("./fonts/ABCMonumentGroteskSemi-Mono-Regular.woff2") format("woff2"),
    url("./fonts/ABCMonumentGroteskSemi-Mono-Regular.woff") format("woff");
}

@font-face {
  font-family: "GroteskSemi";
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  src: url("./fonts/ABCMonumentGroteskSemi-Mono-Medium.woff2") format("woff2"),
    url("./fonts/ABCMonumentGroteskSemi-Mono-Medium.woff") format("woff");
}

@font-face {
  font-family: "GroteskSemi";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url("./fonts/ABCMonumentGroteskSemi-Mono-Bold.woff2") format("woff2"),
    url("./fonts/ABCMonumentGroteskSemi-Mono-Bold.woff") format("woff");
}

@font-face {
  font-family: "ABCWhyte";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url("./fonts/ABCWhyteVariable.woff2") format("woff2"),
    url("./fonts/ABCWhyteVariable.woff") format("woff");
}
